PORT=5001
# Neon PostgreSQL Connection URL for Cloud Deployment
# DATABASE_URL=postgresql://username:password@ep-xxxx.neon.tech/neondb?sslmode=require

PGUSER=postgres
PGHOST=localhost
PGDATABASE=nrgjaisri
PGPASSWORD=1234
PGPORT=5432
